@model IEnumerable<Product>
@foreach (var pro in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center">
            <div class="img">
                <a asp-action="Detail" asp-route-id="@pro.Id">
                    <img src="~/img/@pro.Images.Where(i=>i.IsMain==true).FirstOrDefault().Image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                <h6>@pro.Name</h6>
            </div>
            <div class="price">
                <span class="text-black-50">Add to cart</span>
                <span class="text-black-50">$@pro.Price</span>
            </div>
        </div>
    </div>
}