@model MultipleSliderVM
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <h4 class="card-title">Create Slider</h4>
                    <div class="form-group">
                        <label asp-for="Photos" class="form-control-label">Select images: </label>
                        <input asp-for="Photos" class="form-control" id="category" accept="image/*">
                        <span class="text-danger" asp-validation-for="Photos"></span>
                    </div>
                    <button type="submit" class="btn btn-facebook mr-2">Save</button>
                    <a class="btn btn-pinterest" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section script{
    <partial name="_ValidationPartial" />
}
